<div class="result-container">
  <div class="results">
    <div class="results__search-bar" style="background-image: linear-gradient(-45deg, #FED63E 50%, #FFED72 100%);">
      <div class="pt-- pl--">
        <%= link_to root_path do %>
          <%= image_tag "logo.png" %>
        <% end %>
      </div>
      <p class="padding">Envoyez une photo de votre ordonnance, retrait express de votre commande en 2 heures !</p>
      <!-- search button for large screen -->
      <div class="pl25 pt pr hidden-xs">
        <%= render 'shared/research-button' %>
      </div>
      <!-- search button for small screen -->
      <div class="hidden-sm hidden-md hidden-lg">
        <%= render 'shared/research-button-mobile' %>
      </div>
    </div>
    <div class="results__list" style="background-image: linear-gradient(-180deg, #FFFEFB 0%, #FFFCF0 100%);">
      <p class="pl25 pt">Les pharmacies Clic & Prix proches de chez vous :</p>
      <div class="card-container pt pl- pr- ">
        <% @pharmacies.each do |pharmacy| %>
          <%= render 'shared/card', pharmacy: pharmacy %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="hidden-xs map-container">
    <div id="map" style="width: 100%; height: 100vh;"></div>
  </div>


</div>


<% content_for(:after_js) do %>
  <script type="text/javascript">


    var mapOptions = {
      center: new google.maps.LatLng(46.52863469527167,2.43896484375),
      minZoom: 6,
      maxZoom: 18,
    };

    var handler = Gmaps.build('Google');
    handler.buildMap({
      provider:  mapOptions ,
      internal: { id: 'map' },
    },


    function() {

      markers = <%= raw @hash.to_json %>

      Gmaps.store = {}

      Gmaps.store.markers = markers.map(function(m) {
          marker = handler.addMarker(m);
          marker.serviceObject.set('id', m.id);
          return marker;
      });

      var oms = new OverlappingMarkerSpiderfier(handler.getMap(), {
          keepSpiderfied: true,
          markersWontMove: true,
          markersWontHide: true,
          basicFormatEvents: true,
        });

      _.each(Gmaps.store.markers, function(marker){

        oms.addMarker(marker.getServiceObject());

        google.maps.event.addListener(marker.getServiceObject(), 'click', function(){

          var id = marker.serviceObject.id;

          $(".card").removeClass("is-clicked");
          $('#pharmacy-'+id).addClass("is-clicked");
          $('html, body').animate({
            scrollTop: $('#pharmacy-'+id).offset().top - 250
          }, 500);
        });

        var id = marker.serviceObject.id;

        $('#pharmacy-'+id).click(function(){
            $(".card").removeClass("is-clicked");
            $(this).addClass("is-clicked");
            google.maps.event.trigger(marker.getServiceObject(), 'click');

            // marker.serviceObject.setAnimation(google.maps.Animation.BOUNCE);
            // setTimeout(function(){ marker.serviceObject.setAnimation(null); }, 750);
        });

      });



      handler.bounds.extendWith(Gmaps.store.markers);
      handler.fitMapToBounds();

      if (markers.length == 0) {
        handler.getMap().setZoom(4);
      } else if (markers.length == 1) {
        handler.getMap().setZoom(4);
      }
    });


  </script>
<% end %>
