<div class="card" id="pharmacy-<%= pharmacy.id %>">
  <div class="card__content pt pl">
    <p class="card-title"><%= pharmacy.name  %></p>
    <p><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp <%= "#{pharmacy.address.street}, #{pharmacy.address.zip_code}, #{pharmacy.address.city}" %></p>
    <p><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp<%= pharmacy.opening_times %></p>
    <div class="pt--">
      <a href="http://pharmacie-passard.clicetprix.com" class="order-button">Commander dans cette pharmacie</a>
    </div>
  </div>
  <div class="card__picture">
    <%= cl_image_tag pharmacy.image, height: 150, width: 214, crop: :fill %>
  </div>
</div>

