<div class="footer" style="background-image: linear-gradient(-180deg, #FFFCF0 0%, #FFFEFB 100%);">
  <div class="about-cp">
    <ul class="list-unstyled">
      <li class="pb--"><%= link_to "Vous êtes une pharmacie ? Devenez partenaire", contact_path %></li>
      <li class="pb--"><%= link_to "A propos de Click & Prix", about_path %></li>
      <li class="pb--">Termes et conditions</li>
    </ul>
    <p class="pt">© Clic&Prix 2017 - Tous droits réservés</p>

  </div>
  <div>
    <ul class="list-unstyled">
      <li class="pb--"><%= link_to( "Trouver une pharmacie à Marseille", pharmacies_path(address: "Marseille")) %></li>
      <li class="pb--"><%= link_to( "Trouver une pharmacie à Paris", pharmacies_path(address: "Paris")) %></li>
      <li class="pb--"><%= link_to( "Trouver une pharmacie à Lyon", pharmacies_path(address: "Lyon")) %></li>
      <li class="pb--"><%= link_to( "Trouver une pharmacie à Lille", pharmacies_path(address: "Lille")) %></li>
    </ul>
  </div>
  <div class="pr+ mr+ social-links">
    <p class="hidden-xs">Retrouvez nous sur les réseaux sociaux</p>
    <ul class="list-inline text-center">
      <li><i class="fa fa-linkedin-square fa-lg" aria-hidden="true"></i></li>
      <li><i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i></li>
      <li><i class="fa fa-instagram fa-lg" aria-hidden="true"></i></li>
    </ul>
  </div>
</div>


</div>
