<div class="footer" style="background-image: linear-gradient(-180deg, #FFFCF0 0%, #FFFEFB 100%);">
  <div class="about-cp">
    <ul class="list-unstyled">
      <li class="pb--"><%= link_to "Vous êtes une pharmacie ? Devenez partenaire", contact_path %></li>
      <li class="pb--"><%= link_to "A propos de Clic & Prix", about_path %></li>
      <li class="pb--">Termes et conditions</li>
    </ul>
    <p class="pt">© Clic&Prix 2017 - Tous droits réservés</p>

  </div>
  <div>
    <ul class="list-unstyled">
      <li class="pb--"><%= link_to( "Trouver une pharmacie à Marseille", pharmacies_path(address: "Marseille")) %></li>
      <li class="pb--"><%= link_to( "Trouver une pharmacie à Perpignan", pharmacies_path(address: "Perpignan")) %></li>
      <li class="pb--"><%= link_to( "Trouver une pharmacie à Orange", pharmacies_path(address: "Orange")) %></li>
      <li class="pb--"><%= link_to( "Trouver une pharmacie à Béziers", pharmacies_path(address: "Béziers")) %></li>
      <li class="pb--"><%= link_to( "Trouver une pharmacie à Narbonne", pharmacies_path(address: "Narbonne")) %></li>
    </ul>
  </div>
  <div class="pr+ mr+ social-links pt+">
    <p class="hidden-xs">Retrouvez nous sur les réseaux sociaux</p>
    <ul class="list-inline text-center">
      <li> <a href="https://www.facebook.com/EmergenceDev/">
        <i class="fa fa-linkedin-square fa-lg" aria-hidden="true"></i></a></li>
      <li><a href="https://www.linkedin.com/company/5246248/"><i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i></a></li>
    </ul>
    <div class="pt">
      <p>2 Rue Odette Jasse • 13015 Marseille</p>
      <p><a href="tel:0967203064">Tél : 09 67 20 30 64</a></p>
      <p><a href="mailto:contact@clicetprix.com">Mail : contact@clicetprix.com</a></p>
    </div>
  </div>
</div>


</div>
