<div class="about">
  <div class="home home__background" style="background-image: linear-gradient(-45deg, #FED63E 50%, #FFED72 100%);">
    <%= render 'shared/header' %>
    <div class="home__baseline">
      <div id="background-square-about" style="background-image: url('<%= image_url "background_element.png" %>')">
        <div class="home__landing-content">
          <h2 class="about-title">Qui sommes-nous ?</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="presentation">
<!--       <%= image_tag "logo.png", class: "mb+" %> -->
      <p class="pt"><span>Clic & Prix</span> renouvelle l’expérience client en pharmacie</p>
      <p class="pt"><span>Clic & Prix</span> est une Start up de communication, Marketing et digital pour les pharmacies.<br>Nous sommes basés sur Marseille.</p>
      <p class="pt"><span>Clic & Prix</span> est un nouveau service proposé aux pharmaciens mettant le digital au service de l’expérience client en pharmacie, <span>Clic & Prix</span> a pour but d’enrichir le lien entre patient et pharmacien.</p>
      <p class="pt">A l’origine de <span>Clic & Prix</span>, une volonté de relever un double défi :
        <ul>
          <li>Donner l’accessibilité sur tous les supports et pour tous les patients,
          </li>
          <li>Apporter la même expérience à tous et sur tout le territoire
          </li>
        </ul>
      </p>
      <p class="pt"><span>Clic & Prix</span> est un mini-site personnalisé agrée au nom de la pharmacie qui vous permet :
        <ul>
          <li>D’envoyer une photo de votre ordonnance afin de préparer vos médicaments en amont de votre visite,</li>
          <li>D’accéder à une messagerie partagée avec le pharmacien,</li>
          <li>De bénéficier d’avantages exclusifs sur des produits de parapharmacie et OTC,</li>
          <li>D’accéder aux informations de base de la pharmacie : coordonnées, horaires d’ouverture, plan d’accès.</li>
        </ul>
      </p>
      <p class="pt"><span>Clic & Prix</span> et également un dispositif en officine afin d’améliorer la qualité de la relation et du service rendu :
        <ul>
          <li>Un comptoir en pharmacie vous est dédié,</li>
          <li>Le pharmacien vous attend,</li>
          <li>Vous récupérez votre commande en 2 h et sans faire la queue,</li>
          <li>Des échantillons et des cadeaux sont glissés avec votre commande dans un emballage Clic et Prix.</li>
        </ul>
      </p>
      <p class="pt mb+">La santé se vie aussi en gagnant du temps … Vivez l’expérience !</p>
      <%= image_tag "picture_about.jpg", class: "picture-about" %>





  </div>
</div>
<%= render 'shared/footer' %>
