<div class="container p0 m0">
  <div class="home home__background" style="background-image: linear-gradient(-45deg, #FED63E 50%, #FFED72 100%);">
    <div class="home__header">
      <div class="pt-- pl--">
        <%= link_to root_path do %>
          <%= image_tag "logo.png" %>
        <% end %>
      </div>
      <p class="pr">Devenir pharmacie partenaire</p>
    </div>
    <div class="home__baseline">
      <%= image_tag "Smartphone.png", id: "smartphone" %>
      <div id="background-square" style="background-image: url('<%= image_url "background_element.png" %>')">
        <div class="home__landing-content">
          <h1>OUBLIEZ LA QUEUE EN PHARMACIE</h1>
          <h2>Envoyez en photo votre ordonnance,<br>retrait express de votre commande en 2 heures !</h2>
          <div class="pt+ mt">
            <%= render 'shared/research-button' %>
          </div>
        </div>
      </div>
    </div>
    <div class="home__how-works" style="background-image: linear-gradient(-180deg, #FFFEFB 0%, #FFFCF0 100%);">
      <h2 class="text-center">COMMENT ÇA MARCHE ?</h2>
      <p class="text-center pb+ mb+">Simple comme trois clics</p>
      <div class="container ">
        <div class="row">
          <div class="col-md-3">
            <div class="polygon-demo" style="background-image: url('<%= image_url "polygon.png" %>')">
              <div class="polygon-demo--width">
                <%= image_tag "icon_smartphone.png" %>
                <h2 class="text-center">Cherchez une pharmacie</h2>
              </div>
            </div>
            <p class="text-center pt">Trouvez la pharmacie la plus proche de chez vous et rendez-vous sur son site.</p>
          </div>
          <div class="hidden-xs col-md-1 next-step">
            <%= image_tag "next.png", class:"align-middle" %>
          </div>
          <div class="col-md-3">
            <div class="polygon-demo" style="background-image: url('<%= image_url "polygon.png" %>')">
              <div class="polygon-demo--width">
                <%= image_tag "icon_photo-camera.png" %>
                <h2 class="text-center">Envoyez votre ordonnance en photo</h2>
              </div>
            </div>
            <p class="text-center pt">Prenez votre ordonnance en photo, envoyez la en 2 clics.</p>
          </div>
          <div class="hidden-xs col-md-1 next-step">
            <%= image_tag "next.png", class:"align-middle" %>
          </div>
          <div class="col-md-3">
            <div class="polygon-demo" style="background-image: url('<%= image_url "polygon.png" %>')">
              <div class="polygon-demo--width">
                <%= image_tag "icon_drugs.png" %>
                <h2 class="text-center">Récuperez votre commande</h2>
              </div>
            </div>
            <p class="text-center pt">Venez récuperer votre ordonnance après avoir reçu une notification de votre pharmacien.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="home__products">
      <h2 class="text-center">DES PRODUITS A PRIX PLANCHER</h2>
      <p class="text-center pb+ mb+">Une sélection de produits à prix coutants à commander exclusivement sur le site de votre pharmacie avec votre ordonnance.</p>
    </div>
  </div>
</div>



